/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
.header {
  padding-top: 7em;
  height: 25em;
  background-image: url(/images/photo.png);
}
html{
  scroll-behavior: smooth;
}
.header-low {
  padding-top: 1em;
  width: 100%;
}
.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
.container {
  display: flex;
  max-width: 1110px;
}
@media (max-width: 1110px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.container-column {
  flex-direction: column;
  display: flex;
  max-width: 1110px;
}
@media (max-width: 1110px) {
  .container-column {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container-column {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container-column {
    max-width: none;
  }
}
.orange {
  color: #ff7b01;
  font-weight: 500;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;

  color: white;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;

  color: #ffffff;
}

.content-nav {
  background-color: rgba(24, 85, 127, 0.05);
}
a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #18557f;
}
li {
  padding-top: 2.375em;
}
.content-nav a:hover{
  font-size:17px;
  
}
ul {
  height: 6em;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.font {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
.mediumtext {
  width: 65em;
  height: 8em;
  margin-bottom: 4.5em;
  padding-right: 6em;
}
.image {
  padding-right: 5em;
  padding-top: 1em;
}
.sizepvideo {
  width: 40em;
}
.mediumtext span {
  font-weight: bold;
}
p {
  margin-top: 3em;
}
.font2 {
  /* Заголовок синий */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  margin-bottom: 2em;
  color: #18557f;
}
.font3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #000000;
}
.container-el p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  padding-right: 4em;
  margin-top: 2em;
  color: #000000;
  margin-bottom: 6em;
}
.container-el span {
  font-weight: bold;
}
.line hr {
  margin-bottom: 5em;
}
.line div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.font4 {
  /* Текст крупный */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  margin-bottom: 1.5em;
  color: #000000;
}
.sizefont4 {
  width: 40em;
}
.font5 {
  /* Заголовок синий */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  margin-bottom: 0em;
  color: #18557f;
}
.container-column {
  align-items: center;
}

video {
  width: 730px;
  height: 411px;
  margin-bottom: 5em;
}
p.font4 {
  margin-top: 2em;
}

.square {
  width: 5em;
  height: 5em;
  background-color: rgba(24, 85, 127, 0.2);
}

.squarep {
  margin-top: 0.5em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  /* or 83% */

  text-align: center;

  color: white;
}
.card1__1 {
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
  height: 100%;
  margin-right: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
}
.posit1 {
  width: 30em;
  padding: 0 2em 2em;
}
.posit1 span {
  font-weight: bold;
}
.card1 {
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
  height: 100%;
  margin-right: 2em;
  display: flex;
  flex-direction: row;
}
.posit2 {
  width: 30em;
  padding: 0 2em 2em;
}
.posit2 span {
  font-weight: bold;
}
.card3 {
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.posit3 {
  margin-bottom: 2em;
  width: 29em;
}
.posit3 span {
  font-weight: bold;
}
.container__card3 {
  width: 37em;
  padding: 0 2em 2em;
}

.card4 {
  width: 79.25em;
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
  height: 42em;
}
.card4__column {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
}
.card4__text {
  margin-top: 2.5em;
  width: 73em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card4 p {
  margin-bottom: 1.5em;
}

.circle {
  background: #ff7b01;
  height: 5em;
  width: 5em;

  border-radius: 50%;
}
.column__card4 {
  display: flex;
  flex-direction: column;
}
.card5 {
  margin-top: 2em;
  width: 79.25em;
  display: flex;
  flex-direction: row;
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
  margin-bottom: 6em;
}
.posit5 {
  width: 80em;
  padding: 2em;
  padding-top: 0;
  width: 70em;
}
.numbers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.numbers ol{
  list-style-type: none;
  counter-reset: my-counter; 
}

.numbers li::before{
    display: flex;
    
    content: counter(my-counter); 
    counter-increment: my-counter; 
    width: 1.5em;
    height:1.5em;
    padding-top: 0.125em;
    justify-content: space-around;
    background: #FF7B01;
    color: #fff; /* Белый цвет текста */
    border-radius: 50%;
    margin-right: 1em; /* Расстояние от цифры до текста */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.pos6{
  margin-bottom:2em;
}
.left li{
  display: flex;
}
.right li{
  display: flex;
}
.row-left{
  display: flex;
  flex-direction: column;

}
.rectangle{
  display: flex;
  width: 28em;
  height:5em;
  background: #E5F0F4;
  margin-bottom:2em
}
.rectangle a{
  color: #2A5082;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0.875em;
  margin-left: 1.5em;
  
}
.rectangle a:hover{
  text-decoration: underline;
}
.rectangle.square{
  height:100%;
  width: 6em;
}
.row-left{
  padding-right:3em;
  margin-right:1em;
}

.row-left img{
  width: 50%;
  margin-left:25%;
  margin-top:25%;
}
.cards{
  display: flex;
  margin-bottom: 3em;
}
.flex-column-card1{
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
  width: 38.625em;
  height: 31em;
  margin-right:1em;
}
.firstblock img{
  margin-top:4em;
  
  margin-left:6em;
}
.firstblock p{
  width: 27em;
  margin-left:6em;
}
.flex-column-card2{
  border: 1px solid #e5f0f4;
  box-sizing: border-box;
  width: 38.625em;
  height: 31em;
  margin-left:1em;
}
.secondblock img{
  margin-top:4em;
  
  margin-left:6em;
}
.secondblock p{
  width: 30em;
  margin-left:6em;
}
.font3 span{
  font-weight:bold;
}
.sizebox{
  display:flex;
  width: 72em;
}