body {
  margin: 0;
}
.image-wrap {
  position: relative;
  width: 100%;
  height: 23em;
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  position: absolute;
  top: 0;
}
h2 {
  position: absolute;
  top: 0;
}
.text1 {
  position: absolute;
  width: 475px;
  height: 45px;
  left: 15em;
  top: 1.5em;
  font-size: 48px;
  line-height: 59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.text2 {
  position: absolute;
  width: 445px;

  left: 26.625em;
  top: 6em;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;

  color: #ffffff;
}
.text {
  position: relative;
  width: 1109px;
  height: 88px;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  padding-left: 405px;
  display: flex;
  color: #000000;
}
.menu {
  background-color: rgba(24, 85, 127, 0.05);
  height: 4.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.menu li {
  display: inline-flex;
  position: relative;
  top: 0.5em;
}

.menu a {
  text-decoration: none;
  font-family: "Montserrat";
  color: #18557f;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 3em;
}
.main {
  display: flex;
}
